

<footer class="bg-purple-gradient text-center text-white py-3 mt-auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        &copy; <%= new Date().getFullYear() %> Family Fund - Building Together, Growing Together | OMAS - Online Member Application System
      </div>
    </div>
  </div>
</footer>


